*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Open Sans;
    font-weight: 400;
    
}

header{
    justify-content: space-between;
    font-family: Poppins;
    font-weight: 700;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 40px 80px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2em;
}

button{
    font-family: Poppins;
    font-weight: 700;
    background-color: hsl(322, 100%, 66%);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}
button.secondary{
    background-color: white;
    color: hsl(322, 100%, 66%);
    border-color: hsl(322, 100%, 66%);
    border: 1px solid;
}

.number{
  font-size: 64px;       /* Tamaño grande para el número */
  font-weight: 800;       /* Grosor extra negrita */
  color: #001f2d;        /* Un tono azul oscuro casi negro */
  line-height: 1;         /* Evita espacios extra arriba/abajo */
  letter-spacing: -1px;  /* Junta un poco los números para ese look moderno */
}

.static-card{
  display: flex;
  justify-content: space-around;
  padding: 2em;
  margin-top: 2em;
}
.static-card > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left;
}
.grow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}
.grow div{
    text-align: left;
    width: 50%;
    padding: 0 2em;
}
.grow > img{
    width: 50%;
}
.grow >div >b{
    display: block;
    margin-bottom: 15px;
    font-size: xx-large;
}

.flowing{
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 2em;
  justify-content: space-between;
  padding: 2rem;
}
.flowing > div{
  text-align: left;
  width: 50%;
  padding: 0 2em;
}
.flowing > div >b{
  display: block;
  margin-bottom: 15px;
  font-size: xx-large;
}
.flowing > img{
  width: 50%;
}

.your-users{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 2rem;
}
.your-users >img{
  width: 50%;
}
.your-users > div{
  text-align: left;
  width: 50%;
  padding: 0 2em;
}
.your-users > div >b{
  display: block;
  margin-bottom: 15px;
  font-size: xx-large;
}


.question{
    display: flex;
    flex-direction: column;
}
.question > h1{
    display: block;
    font-size: xx-large;
    margin-bottom: 20px;
}
.question > button{
    align-self: center;
}

footer{
    color: white;
    background-image: url('../images/bg-footer-top-desktop.svg');
   
    background-repeat: no-repeat;        /* Centrar la imagen */
    background-size: cover;               /* Cubrir todo el fondo */
    /*background-position: center;*/          /* Centrar la imagen */
    /*background-attachment: fixed;*/    
    margin: 0; 
}
